<!DOCTYPE html>
<html>


  <head>
    <title>{% block title %} blog {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    {% block extra_js %}{% endblock %}
  </head>


  <body>

    <div id="navbar">
      <ul>
	<a href="/blog/posts"><li>all</li></a>
	<a href="/blog/category/articles"><li>articles</li></a>
	<a href="/blog/category/notes"><li>notes</li></a>
	<a href="/blog/category/logs"><li>logs</li></a>
	<a href="/"><li class="right-align">homepage</li></a>
      </ul>
    </div>

    
    {% if user %}
    <div class="notifications">
      <p>Welcome {{ user.username|e }} <a href="/blog/logout">logout</a> 
      <a href="/blog/post_entry">post entry</a>
      {% block notifications %}{% endblock %}</p>  
    </div>
    {% endif %}


    <div id="right-pane" class="right-align">
      Tags:<br />
      {% if tags %}
      {% for tag in tags %}
      <a href="/blog/tag/{{ tag.name|e }}">{{ tag.name|e }}</a>{% if not loop.last %}. {% endif %}
      {% endfor %}
      {% endif %}
    </div>


    <div id="left-pane">
      {% block content %}
      {% endblock %}
    </div>
    <!---Google Analytics tracking code--->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38611694-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
    </script>
    
  </body>
</html>
