<!DOCTYPE html>
<html>
  <title>Home</title>
  <style type="text/css">
    h1{
    position: relative;
    text-align:center;
    font-size: 400%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    top: 60px;
    }

    #nav-links {
    list-style:none;
    text-align: center;
    position: relative;
    top: 60px;
    }
    
    #nav-links li {
    display: inline;
    }

  </style>
  <body>
    <h1>The Journeyman</h1>
    <ul id="nav-links">
      <li><a href="/blog/posts">personal blog</a></li> | 
      <li><a href="http://keyboardinterrupt.blogspot.com/">technical blog</a></li>
      <br />
      <li><a href="https://github.com/krmboya">github</a></li> | 
      <li><a href="https://plus.google.com/111093380192761823841/about">g+</a></li>
    </ul>
    <!---Google analytics tracking code--->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38611694-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
    </script>

  </body>
</html>
